testout.txt
*.pyc
collapser/origply
parser.out
parsetab.py
collapser.sublime-workspace
calc.py
testoutput.txt
SubQDynamic.sublime-project
SubQDynamic.sublime-workspace
output
test.txt
ch8_test.txt
todo.txt
confirms.dat
chapters/
Quant.sublime-settings alias
Quant.sublime-syntax alias
seednum.dat
subcutanean.tex
reference-versions/arc/subcutanean-arc-01978.pdf
reference-versions/arc/subcutanean-arc-01979.pdf
reference-versions/arc/used/subcutanean-arc-01956.pdf
reference-versions/arc/used/subcutanean-arc-01957.pdf
reference-versions/arc/used/subcutanean-arc-01959.pdf
reference-versions/arc/used/subcutanean-arc-01968.pdf
reference-versions/arc/used/subcutanean-arc-01969.pdf
reference-versions/arc/used/subcutanean-arc-01970.pdf
reference-versions/arc/used/subcutanean-arc-01971.pdf
reference-versions/arc/used/subcutanean-arc-01972.pdf
reference-versions/arc/used/subcutanean-arc-01973.pdf
reference-versions/arc/used/subcutanean-arc-01974.pdf
reference-versions/arc/used/subcutanean-arc-01975.pdf
reference-versions/arc/used/subcutanean-arc-01976.pdf
reference-versions/arc/used/subcutanean-arc-01977.pdf
confirms
ACTUAL48c67c608d8c584d120794e3cd1d25b6
